@model IEnumerable<DDAC_Assignment.Models.News>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/NewsCSS.css" />

<h1>Index</h1>

<form method="" action="">
    <!--<strong>Enter the title, actor or content that you want to search = </strong>-->
    <input class="form-control searchFilter" placeholder="Search with title, actor or content" type="text" name="searchString" id="searchString" />

    @Html.DropDownList("Category", @ViewBag.Category, "All Category", new { @class = "form-control searchFilter" })

    <div style="margin-top:10px; display: inline">
        <input class="searchButton button" type="submit" name="submit" value="Search News" />
    </div>
    <br /><br /><br />
</form>

<p>
    <a asp-action="Create"><input type="button" class="createButton mb-2" style="width:100px" value="Create New" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><input type="button" class="editButton mb-2 button" style="width:80px" value="Edit"/></a> 
                <a asp-action="Details" asp-route-id="@item.ID"><input type="button" class="detailsButton mb-2 button" style="width:80px" value="Preview" /></a> 
                <a asp-action="Delete" asp-route-id="@item.ID"><input type="button" class="deleteButton mb-2 button" style="width:80px" value="Delete" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
