@model IEnumerable<DDAC_Assignment.Models.News>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/NewsCSS.css" />



<h1>Manage News</h1>

<form method="" action="">
    <!--<strong>Enter the title, actor or content that you want to search = </strong>-->
    <input class="form-control searchFilter" placeholder="Search with title, actor or content" type="text" name="searchString" id="searchString" />

    @Html.DropDownList("Category", @ViewBag.Category, "All Category", new { @class = "form-control searchFilter" })

    <div style="margin-top:10px; display: inline">
        <i class="fas fa-search"></i>
        <input class="searchButton button" type="submit" name="submit" value="Search News" />
    </div>
    <br /><br /><br />
</form>

<p>
    <a asp-action="Create"><input type="button" class="createButton mb-2 button" style="width:100px" value="Create New" /></a>
</p>

<div id="content">
    <ul id="tabs" class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link active" href="#tab1" data-toggle="tab">News Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab2" data-toggle="tab">News Details</a>
        </li>

    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="tab1">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-sortExpression="@ViewData["SortParamTitle"]">@Html.DisplayNameFor(model => model.Title)</a>
                            <i class="@ViewData["SortIconTitle"]" aria-hidden="true"></i>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortExpression="@ViewData["SortActor"]">@Html.DisplayNameFor(model => model.Actor)</a>
                            <i class="@ViewData["SortIconActor"]" aria-hidden="true"></i>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortExpression="@ViewData["SortPublishedDateDesc"]">@Html.DisplayNameFor(model => model.PublishedDate)</a>
                            <i class="@ViewData["SortIconPublishedDate"]" aria-hidden="true"></i>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-sortExpression="@ViewData["SortCategory"]">@Html.DisplayNameFor(model => model.Category)</a>
                            <i class="@ViewData["SortIconCategory"]" aria-hidden="true"></i>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ParentCategory)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImagePath)sear
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Content)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Actor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PublishedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParentCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImagePath)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID"><input type="button" class="editButton mb-2 button" style="width:80px" value="Edit" /></a>
                                <a asp-action="Details" asp-route-id="@item.ID"><input type="button" class="detailsButton mb-2 button" style="width:80px" value="View" /></a>
                                <a asp-action="Delete" asp-route-id="@item.ID"><input type="button" class="deleteButton mb-2 button" style="width:80px" value="Delete" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="tab-pane" id="tab2">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Visibility)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastUpdated)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Visibility)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdated)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID"><input type="button" class="editButton mb-2 button" style="width:80px" value="Edit" /></a>
                                <a asp-action="Details" asp-route-id="@item.ID"><input type="button" class="detailsButton mb-2 button" style="width:80px" value="View" /></a>
                                <a asp-action="Delete" asp-route-id="@item.ID"><input type="button" class="deleteButton mb-2 button" style="width:80px" value="Delete" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
