@model IEnumerable<DDAC_Assignment.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/NewsCSS.css" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><input type="button" class="editButton mb-2" style="width:80px" value="Edit" /></a>
                <a asp-action="Details" asp-route-id="@item.ID"><input type="button" class="detailsButton mb-2" style="width:80px" value="Details" /></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><input type="button" class="deleteButton mb-2" style="width:80px" value="Delete" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
