@model IEnumerable<DDAC_Assignment.Models.Category>

@{
    ViewData["Title"] = "Index";
}

@if(ViewBag.msg != "")
{
    <script>alert("@ViewBag.msg");</script>
}

<link rel="stylesheet" href="~/css/IndexCSS.css" />

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="d-flex"><i class="mdi mdi-view-grid menu-icon"></i>Category Management</h1>

                <p>
                    <a asp-action="Create"><input type="button" class="createButton mb-2 button" style="width:100px" value="Create New" /></a>
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ParentCategory)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentCategory)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ID"><input type="button" class="editButton mb-2 button" style="width:80px" value="Edit" /></a>
                                        <a asp-action="Details" asp-route-id="@item.ID"><input type="button" class="detailsButton mb-2 button" style="width:80px" value="Details" /></a>
                                        <a asp-action="Delete" asp-route-id="@item.ID"><input type="button" class="deleteButton mb-2 button" style="width:80px" value="Delete" /></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>
</div>

<div class="container-fluid page-body-wrapper">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h1>Create/Delete Category Request: </h1>
                            <a asp-action="RefreshQueue"><i class="mdi mdi-refresh refreshIcon"></i></a>
                        </div>
                        <p>Number of pending request: @ViewBag.count</p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Request Type</th>
                                        <th>Staff Username</th>
                                        <th>CategoryID</th>
                                        <th>Category Name</th>
                                        <th>ParentCategory Name</th>
                                        <th>Description</th>
                                        <th>Request Time</th>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <th>Approve or Reject</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.requestList)
                                    {
                                        <tr>
                                            <td>@item.Key.RequestType</td>
                                            <td>@item.Key.StaffUserName</td>
                                            <td>@item.Key.CategoryID</td>
                                            <td>@item.Key.CategoryName</td>
                                            <td>@item.Key.ParentCategoryName</td>
                                            <td>@item.Key.Description</td>
                                            <td>@item.Key.RequestTime</td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <td>
                                                    <a asp-action="deleteMessage" asp-route-deleteToken="@item.Value" asp-route-CategoryID="@item.Key.CategoryID" asp-route-RequestType="@item.Key.RequestType" asp-route-CategoryName="@item.Key.CategoryName" asp-route-ParentCategoryName="@item.Key.ParentCategoryName" asp-route-Description="@item.Key.Description" asp-route-isApproved="Yes"><input type="button" class="editButton mb-2 button" style="width:80px" value="Approve" /></a>
                                                    <a asp-action="deleteMessage" asp-route-deleteToken="@item.Value" asp-route-CategoryID="@item.Key.CategoryID" asp-route-RequestType="@item.Key.RequestType" asp-route-CategoryName="@item.Key.CategoryName" asp-route-ParentCategoryName="@item.Key.ParentCategoryName" asp-route-Description="@item.Key.Description" asp-route-isApproved="No"><input type="button" class="deleteButton mb-2 button" style="width:80px" value="Reject" /></a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>